:root,
html[data-theme="light"] {
  --body-bg: #aedadd;
  --main-bg: white;
  --main-color: #000;
  --main-border: 2px solid #eeeeee;
  --location-icon-color: #aedadd;
  --min-temp-color: #6e7da2;
  --max-temp-color: #ec6e4c;
  --last-up-color: #6e7da2;
  --button-color: #6e7da2;
  --search-color: #fff;
  --button-click: #db996c;
  --card-hover: #f7f3ff;
  --link-hover: #a44a4a;
  --switcher-button-bg: #424874;
  --switcher-button-color: #fff;
}
html[data-theme="dark"] {
  --body-bg: #352f44;
  --main-bg: #5c5470;
  --main-color: #fff;
  --main-border: 2px solid #2a2438;
  --location-icon-color: #dbd8e3;
  --min-temp-color: #fff;
  --max-temp-color: #fcbad3;
  --last-up-color: #fff;
  --button-color: #fcbad3;
  --search-color: #352f44;
  --button-click: #fe7187;
  --card-hover: #352f44;
  --link-hover: #fe7187;
  --switcher-button-bg: #fd72ad;
  --switcher-button-color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--body-bg);
  color: var(--body-color);
}
main {
  background: var(--main-bg);
  color: var(--main-color);
  padding: 20px 15px;
  border: var(--main-border);
  border-radius: 7px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

h1 {
  font-size: 26px;
  text-align: left;
  position: relative;
  top: 20px;
}
h2 {
  position: relative;
  top: 20px;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer {
  font-family: "Space Mono", monospace;
  font-size: 10px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  color: var(--main-color);
}

.current-weather {
  margin-top: 30px;
}
#main-icon {
  display: block;
  margin: 20px 0 0 5px;
  width: 60px;
}
.location-icon {
  font-size: 20px;
  color: var(--location-icon-color);
}
.unit {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: -8px;
}

#min-max-today {
  padding-top: 14px;
}
#min-today,
.min-forecast-temp {
  color: var(--min-temp-color);
}
.max-forecast-temp {
  color: var(--max-temp-color);
}
.country {
  font-weight: normal;
  font-size: 22px;
}
#current-date {
  font-style: italic;
}
.link-to {
  color: var(--main-color);
}
.link-to:hover {
  color: var(--link-hover);
}
.weather-info {
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 0;
  line-height: 26px;
}
#last-up {
  font-size: 9px;
  color: var(--last-up-color);
  text-transform: none;
}
#clouds-clear {
  text-transform: capitalize;
}

#new-location {
  background: #fff;
  border-radius: 6px;
  padding-left: 10px;
}
#submit-button {
  background: var(--button-color);
  color: var(--search-color);
  border: #6e7da2;
}
#submit-button:hover {
  background: var(--button-click);
  cursor: pointer;
}

#current-location-button {
  font-size: 36px;
  color: var(--button-color);
}
#current-location-button:hover {
  color: var(--button-click);
}

.next-days {
  margin: 10px;
  background: transparent;
  border: none;
  padding: 15px 0 0 0;
}
.next-days:hover {
  background-color: var(--card-hover);
}
.card-text {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: var(--max-temp-color);
}
.card-title {
  font-size: 12px;
  text-align: center;
}
#forecast-icon {
  width: 50px;
  display: block;
  margin: 0 auto;
  padding: 5px;
}
.end-button {
  margin-top: 10px;
}
#theme-switcher {
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-weight: 500;
  background: var(--switcher-button-bg);
  color: var(--switcher-button-color);
}
